@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --primary-text-color: #333;
  --secondary-text-color: #878080;
  --primary-color: #091846;
  --secondary-color: #4993fa;
  --tertiary-color: #f4f4f4;
  --white-color: #fff;
  --black-color: #000;
  --mobile-heading-font-size: 35px;
  --mobile-description-font-size: 16px;
  --web-heading-font-size: 4rem;
  --web-description-font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-text-color: #333;
    --secondary-text-color: #878080;
    --primary-color: #091846;
    --secondary-color: #4993fa;
    --tertiary-color: #f4f4f4;
    --white-color: #fff;
    --black-color: #000;
  }
}
/* #2c9b91
#1b3140 */

body {
  color: rgb(var(--primary-text-color));
  /* padding: 1rem; */
}
main {
  scroll-behavior: smooth;
}
