.faq-container {
  margin-bottom: 3rem;
}
.faq-primary {
  font-size: var(--web-primary-font-size);
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 1rem;
}
.faq-secondary {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.faq-description {
  color: var(--secondary-text-color);
  font-size: var(--web-description-font-size);
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .faq-primary {
    font-size: var(--mobile-heading-font-size);
  }
  .faq-description {
    font-size: var(--mobile-description-font-size);
  }
  .faq {
    font-size: 14px;
  }
}
