.contact-primary {
  font-size: var(--web-heading-font-size);
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 1rem;
}
.contact-secondary {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.contact-description {
  color: var(--secondary-text-color);
  font-size: var(--web-description-font-size);
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .contact-container {
    padding: 0rem 1rem;
    height: 35rem;
    margin-bottom: 2.5rem;
  }
  .contact-primary {
    font-size: var(--mobile-heading-font-size);
  }
  .contact-description {
    font-size: var(--mobile-description-font-size);
  }
  .contact {
    font-size: 14px;
  }
  .condition-option {
    max-width: 300px;
  }
}
