.choose-container {
  padding: 0 3.2rem;
}
.choose-primary {
  font-size: var(--web-heading-font-size);
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 1rem;
}
.choose-description {
  font-size: var(--web-description-font-size);
}
.choose-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 500px) {
  .choose-primary {
    font-size: var(--mobile-heading-font-size);
  }
  .choose-description {
    font-size: var(--mobile-description-font-size);
  }
  .choose-container {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
  }
}
