.statistics-container {
  padding: 4rem 1rem;
  background: var(--primary-color);
  color: white;
  margin-bottom: 1rem;
}
.stats-exp-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 2rem;
  flex-flow: column wrap;
}
@media (min-width: 600px) {
  .stats-exp-container {
    flex-flow: row wrap;
  }
}
